
  .pagamento-container {
    width: 400px;
    margin-left: 68%;
    margin-bottom: 30px;
    font-family: 'American Typewriter', serif;
    color: #2a5554;
    font-size: 20px;
  }
  
  .btn-vender {
    background-color: #2a5554;
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: 'American Typewriter', serif;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .pagamento-container input.form-control {
    background-color: #f0f7f2;
    border-radius: 10px;
    border: 1px solid #2a5554;
    color: #2a5554;
    font-size: 16px;
    font-family: 'American Typewriter', serif;
    margin-bottom: 10px;
  }
  
  .pagamento-container select.form-select {
    margin-bottom: 10px;
    background-color: #f0f7f2;
    border: 1px solid #2a5554;
    color: #2a5554;
    font-family: 'American Typewriter', serif;
  }
  
  .botoes-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 68%;
    margin-bottom: 30px;
  }
  
  .resumo-total-input {
    width: 160px;
    background-color: #f0f7f2;
    border: 1px solid #2a5554;
    color: #2a5554;
    font-size: 18px;
    font-family: 'American Typewriter', serif;
    padding: 6px 12px;
    margin-right: 3%;
    border-radius: 8px;
    text-align: center;
  }
  