.navigationbar {
  width: 100%;
  background-color: #2a5554;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  flex-wrap: wrap;
}

.campo-pesquisa {
  flex:  300px;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  max-width: 400px;
}

.controles {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-primario {
  background-color: #198754;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primario:hover {
  background-color: #157347;
}

.btn-secundario {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secundario:hover {
  background-color: #084cd9;
}
