.principal-container {
  font-family: 'American Typewriter', serif;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid-esquerda {
  background-color: #9ab991;
  display: flex; 
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 140px; /* maior para dar espaço ao título absoluto */
}


.grid-direita {
  background-image: url('logo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;  
  width: 100%;    
  margin: 0;
  padding: 0;
}

.novo-produto {
  position: absolute;
  top: 20px; 
  left: 84px; 
  font-size: 80px;
  color: #2a5554;
  font-weight: bold;
  font-family: 'American Typewriter', serif;
}

.cadastrar {
  position: absolute;
  bottom: 20px; 
  left: 12%; 
  font-size: 80px;
  color: #2a5554;
  font-weight: bold;
  font-family: 'American Typewriter', serif;
}



.grid-esquerda input,
.grid-esquerda select {
  width: 320px;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #d6e4da;
  color: #2a5554;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  margin: 2px 0 7px 0;
  font-family: 'American Typewriter', serif;
}

.grid-esquerda input::placeholder {
  color: #2a5554;
  font-weight: normal;
}

.grid-esquerda label {
  display: block;
  color: #2a5554;
  font-family: 'American Typewriter', serif;
  font-weight: normal;
}
