 @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-family: 'Material Symbols Outlined';
  color: white;
}


.navigationbar {
  width: 100%;
  background-color: #2a5554;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  flex-wrap: wrap;
}

.campo-pesquisa {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #2a5554; 
  font-size: 20px;
  max-width: 500px;
}


.material-symbols-outlined.btn-pesquisa {
  font-size: 35px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.btn-venda span {
  margin-left: 20px;
}


.btn-mais span {
  margin-left: 20px;
}

.btn-venda .material-symbols-outlined,
.btn-mais .material-symbols-outlined,
.btn-pesquisa {
  font-size: 32px; 
}

.btn-venda .material-symbols-outlined,
.btn-mais .material-symbols-outlined {
  margin-left: 10px; 
}


.controles {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-primario {
  background-color: #9ab991;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 50px;
   font-family: American Typewriter, serif;
}

.btn-secundario {
  background-color: #9ab991;
  color: white;
  padding: 7px 50px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
   font-family: American Typewriter, serif;
  
}


